rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == "tamzid257@gmail.com";
    }

    match /fulfillment/{orderId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /predictions/{userId}/{fileName} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /backtests/{userId}/{fileName} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /forecast_reports/{userId}/{fileName} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
